.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-container{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 100px
  
  }
  
  form input {
      width: 70%;
      height: 30px;
      margin: 0.5rem;
    }
  
  form button{
      border-radius: 20px;
      align-content: center;
      font-size: 18px ;
      position: relative;
  }

  .grid-container {
    display: grid;
    grid-template-rows: 30% 30% 30% 30%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
    grid-template-areas: 
    "area1 area1 area1 area1"
    "area1 area1 area1 area1"
    "area2 area3 area4 area5"
    "area6 area6 area6 area6"
    ;
  }

  .grid-item1{
    grid-area: area1;
}

.grid-item2{
  grid-area: area2;
}

.grid-item3{
  grid-area: area3;
}

.grid-item4{
  grid-area: area4;
}

.grid-item5{
  grid-area: area5;
}

.grid-item6{
  grid-area: area6;
}

img{
    width: 100%;
    height: 100%;
  }

#acerca-de{
      font-family: Arial, Helvetica, sans-serif;
      align-items: center;
      font-size: 30px;
      align-self: Center;
      
  }